#navbar {
  transition: background-color 0.3s ease, color 0.3s ease; 
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar.bg-transparent {
  background-color: transparent;
  color: white; /* Default text color */
}

.navbar.bg-white {
  background-color: white;
  color: turquoise; /* Text color when scrolled */
}